@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* HEADER */
.navbars {
    font-weight: 600;
    background: linear-gradient(103deg, #fdbf6d, #7c9cc3, #b16edf);
    background-color: transparent;
    padding: 20px !important;
}

/* hero */
#hero {
    background: linear-gradient(103deg, #fdbf6d, #7c9cc3, #b16edf);
    padding: 50px 0!important;
}

/* intergrate */
.integrate {
    background: linear-gradient(103deg, #9ef47d, #8c54db, #db5eba);
    padding: 50px 0!important;
}

/* asked question */
.accordion {
    padding: 50px 0!important;
    background: linear-gradient(200deg, #8662a5, #9327ba, #c12727);
}

/* form */
.form {
    background: linear-gradient(190deg, #48a787, #892d77, #966a30);
    width: 50%;
    padding: 50px 0!important;
}


#form{
    background: linear-gradient(190deg, #48a787, #892d77, #966a30);
}
/* footer*/
.footer {
    background: #324964;
    color: #fff;
}